* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
header h1 {
  padding: 0;
  padding-top: 2px;
  margin: 0px 10px;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: sans-serif;
  height: 100%;
}
.spacing{
  background: linear-gradient(#2133fa, white);
  height: 25px;
}
.spacingmusic{
  height: 25px;
  background: linear-gradient(#2133fa, #ffba00);
}
.wrapper {
  min-height: 90.6%;
  position: relative;
  margin: 0;
  padding: 0;
}
.mainheader{
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  background: #2133fa;
  width: 100%;
}
.mainheader h1 a {
  color: white;
  margin: 0;
  padding: 0px 2px;
  display: inline;
  text-decoration: none;
  background: #2133fa;
  border-radius: 5px;
}
.mainheader nav ul {
  padding: 0px;
  padding-top: 5px;
  margin: 0px;
  text-align: center;
}
.mainnav ul li{
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: inline-block;
  list-style-type: none;
  border-radius: 0.25em;
  border: 0.1em solid white;
  margin: 0em -0.1em;
}
.mainnav ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.button {
  display: block;
  padding: 0.75em 0.75em;
  margin: 0;
}
.currentpage {
  padding: 10px;
  margin: 0em -0.1em;
}
.currentpage:hover {
  background-color: none;
}
.button:hover {
  background-color: #fa813b;
  transition-duration: 0.45s;
  border-radius: 0.08em;
}

p.startmusic {
  background-color: #ffba00;
}

p.clipsheader {
  background: #ffba00;
  text-align: center;
  font-size: 20px;
}
.content {
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content figure {
  margin: auto;
  width: 300px;
  padding: 1em;
}
.content figure img {
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 50%;
  box-shadow: black 2px 2px 10px;
  margin-top: 3em;
}
.content figure figcaption a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.content figure figcaption {
  text-align: center;
}
aside.description p{
display: flex;
margin: 5px;
width: 50em;
display: flex;
margin-left: auto;
margin-right: auto; 
}
figure.musicclip {
  background: #ffba00;
  width: auto;
  padding: 1.25em;
}
figure.musicclip div {
  object-position: center;
  text-align: center;
  font-size: 20px;
}
.musiccontent {
  background: #ffba00;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about figure {
  padding: 10px;
}
.about figure img {
  box-shadow: black 2px 2px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.about figure figcaption {
  text-align: center;
  padding: 0.5em;
}
footer {
  background: linear-gradient(to right, #007400, white, #f20000);
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  top: -12px;
  left: 0;
  bottom: 0;
  color: black;
}
footer p a {
  color: black;
  text-decoration: none;
}
footer p {
  margin: 0.5em;
  text-align: center;
}

a img.hovshadow:hover{
  box-shadow: inset 0px 0px 75px 0 #000000;
  transition-duration: 0.4s;
}


